.section {
    background-color: #f8f5f2;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: #232323;
    color: #fff;
    transition: 250ms;
}

.btn-primary {
    background-color: #078080;
    border-color: #078080;
    min-width: 100px;
    min-height: 40px;
}

.formControl {
    background-color: #dedede;
    min-width: 500px;
    min-height: 40px;
}

.formMessage {
    background-color: #dedede;
    min-width: 500px;
    min-height: 200px;
}
