
.img-wrap {
    position: relative;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 400px;
  text-align: center;
}

.img {
    width: 500px;
    height: 400px;
    position: absolute;
  }

  .img:hover {
    opacity: 0;
    transition: opacity 1.5s, visibility 1.5s;
  }

.img-description {
    z-index: 1;
    width: 420px;
    line-height: 20px;
    display: inline-block;
    padding: 100px 0px;
    vertical-align: middle;
    height: 450px;
}

