#skills {
    background-color: rgba(90, 116, 107);
}

.FaHtml5 {
    color: #fff;
    font-size: 2rem;
}

.fa-js-square {
    background-color: black;
    color: rgb(233, 212, 77);
    font-size: 2rem
}